<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Aling Nena's</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	<br/><br/><br/>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <h3>About the Owner:</h3>
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col-md-4">
		<img src="aling_nena.jpg" height="250"/>
	    </div>
	    <div class="col-md-6" align="justified">Aling Nena is a young and caring entrepreneur. She took great care of her store as if it were her child and nurtured it with her love, hard-work, and determination. With her simple sari-sari store, she is able to provide convenience to her customers through her wide selection of items available as well as great service with her lovely smile. Over the years, she has been able to slowly fulfill her dream of expanding her store with the help of every peso she earns.
        </div>
	  </div>
	  	  
	  <div class="row">
	    <div class="col-md-6" align="justified">
	    <h3>The History of Aling Nena's Sari-Sari Store:</h3>
		Aling Nena's sari-sari store originally started out as a small sari-sari store in her local barangay. As time passed, her store became the most popular and reputable sari-sari store in her area and people frequently bought from her. Because of her store's popularity in her barangay, she was able to expand and make her store into a growing franchise. Aling Nena's sari-sari stores are currently serving customers all around Manila.
	    </div>
	    <div class="col-md-4">
	    <img src="sari_sari_store.jpg" height="250"/>
	    </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
